.App {
  display: flex;
}

aside {
  width: 30%;
  min-height: 100vh; 
  color: #fff;
  background-color: #000; 
}

main {
  width: 70%;
  min-height: 100vh; 
}

footer {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 160px;
  background-color: #000;
  padding: 10px 20px;
}
