// variables
$black: #000000;
$white: #ffffff;
$col1: #291853;
$col2: #41399D;
$col3: #053765;
$col4: #035F53;
$col5: #993366;
$col6: #E5097F;
$col7: #952031;
$col8: #F04C29;

// reset
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

// mixins
@mixin grad-linear($col1, $col2) {
  background-image: linear-gradient(to right, $col1, $col2);
}

a {
  text-decoration: none;
  color: $white;
  transition: all 0.3s;

  &:hover {
    color: $col2;
  }
}
  
ul {
  list-style: none;
}

p {
  margin-bottom: 1.8rem;
  line-height: 1.5;
  font-weight: 300;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
}

